<div class="row">
    <div class="col-xs-12">
        <%if @error_msg!=nil%>
            <h3><%=@error_msg%></h3>
        <%end%>
        <form action="register_user" method="POST">
            <p>Username: </p>
            <input type="text" name="username" value=<%=@username%>></input>
            <br><br>
            <p>Password: </p>
            <input type="password" name="password"></input>
            <br><br>
            <p>Confirm Password: </p>
            <input type="password" name="password_confirmation"></input>
            <br><br>
            <p>Email: </p>
            <input type="text" name="email" value=<%=@email%>></input>
            <br><br>
            <p>Date Of Birth (Month/Day/Year): </p>
            <input type="text" name="date_of_birth" value=<%=@dob%>></input>
            <br><br>
            <input type="submit">Register</input>
        </form>
    </div>
</div>